<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="naiveWaiter" class="org.aspectj.demo1.NaiveWaiter"/>
    <bean id="naughtyWaiter" class="org.aspectj.demo1.NaughtyWaiter"/>
    <bean id="seller" class="org.aspectj.demo1.SmartSeller"/>
 <!--
    <bean class="org.aspectj.demo1.TestAspect"/>
   
    <bean class="org.aspectj.demo1.TestAspect2"/>
    <bean class="org.aspectj.demo1.TestAspect3"/>
    <bean class="org.aspectj.demo1.TestAspect4"/>
    <bean class="org.aspectj.demo1.TestAspect5"/>
    <bean id="naiveWaiter2" class="org.aspectj.demo1.NaiveWaiter2"/>
    <bean class="org.aspectj.demo1.TestAspect6"/>
    <bean class="org.aspectj.demo1.TestAspect7"/>
    <bean class="org.aspectj.demo1.TestAspect8"/>
-->
</beans>